<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <title>About</title>
</head>

<body>
    <header>{{>header}}</header>
    <p>This website has been created by L.M. it uses darksy.com and mapbox.com</p>
    <p>I am a : {{role}}</p>
    <img src="../img/kit.jpg" alt="Andrew">
    <p>{{>footer}}</p>
</body>

</html>